numpy==1.26.4
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.15.3
jax==0.6.2
jaxlib==0.6.2
flax==0.10.7
optax==0.2.8
chex==0.1.90
distrax==0.1.5
tensorflow-probability==0.25.0
tyro==1.0.12
robopianist==1.0.10
dm_control==1.0.38
dm-env==1.6
dm-env-wrappers==0.0.13
mujoco==3.6.0
note-seq==0.0.5
pretty_midi==0.2.11
librosa==0.11.0
imageio-ffmpeg==0.6.0
